link(rel="apple-touch-icon", sizes="180x180", href=`${imagePath}/favicons/apple-touch-icon.png`)
link(rel="icon", type="image/png", sizes="32x32", href=`${imagePath}/favicons/favicon-32x32.png`)
link(rel="icon", type="image/png", sizes="16x16", href=`${imagePath}/favicons/favicon-16x16.png`)
link(rel="shortcut icon" href=`${imagePath}/favicons/favicon.ico`)
link(rel="manifest", href=`${imagePath}/favicons/manifest.json`)
link(rel="mask-icon", href=`${imagePath}/favicons/safari-pinned-tab.svg`, color="#e11f26")
meta(name="msapplication-config" content=`${imagePath}/favicons/browserconfig.xml`)
meta(name="apple-mobile-web-app-title", content=title)
meta(name="application-name", content=title)
meta(name="theme-color", content="#e11f26")

